@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.inner {
  margin: 0 auto;
  width: 80%;
  padding: 2.5em 0;
}

input:not([type=radio]), textarea {
  padding: .75em;
  border-radius: 5px;
  // border: solid 1px hsl(0, 0%, 72%);
  border: none;
  font-family: inherit;
  transition: all .2s ease;
  // box-shadow: inset 0 2px 5px hsla(0, 0%, 40%, 20%);
  background-color: hsl(0, 0%, 95%);
  box-sizing: border-box;

  @include hover("&") {
    box-shadow: inset 0 2px 5px hsla(0, 0%, 0%, 15%);
    border-color : hsl(0, 0%, 40%);
  }

}

button {
  text-transform: uppercase;
  padding: 1em 2em;
  border-radius: 5em;
  border: none;
  margin: 1.5em;
  font-weight: bold;
  line-height: 1em;
  transition: all .2s ease;
  background-color: $button-color;
  cursor: pointer;

  &.button-light {
    border: solid 2px $button-color;
    background-color: #fff;
  }

  @include hover("&") {
      background: darken($button-color, 7%);
      // box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 7.5%),
      //             inset 0 -2px 2px hsla(0, 0%, 100%, 30%);

      &.button-callout {
        box-shadow: 0 5px 20px -5px hsl(0, 0%, 20%);
      }
  }
}

.loading {
  span {
    display: inline-block;
    font-size: 1.5em;
    margin-left: .1em;
    animation: .8s ease-in-out infinite alternate both bounce;
    &:nth-child(2) {
        animation-delay: .2s;
    }
    &:last-child {
        animation-delay: .4s;
    }
  }
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(0);
  }

  100% {
      
      transform: translateY(-.15em);
  }
}

.info-popup-group {
  display: inline-block;
  position: relative;
  width: fit-content;
  .info-popup {
    display: none;
    margin: 0;
    position: absolute;
    bottom: 100%;
    right: 0;
    min-width: 250px;
    max-width: 300px;
    padding: 1em;
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    box-shadow: 0px 1px 7px 2px hsla(0, 0%, 0%, 15%);

    @supports (backdrop-filter: blur(3px)) {
      background-color: hsla(0, 0%, 87%, 85%);
      backdrop-filter: blur(3px);
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
  @include hover("&") {
    .info-popup {
      display: block;
    }
  }
}