.playlist-parameters {
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-group {
        display: inline-block;
        margin: 1em;
    
        input {
            padding: .5em;
            border-radius: 5px;
            border: solid 1px #b7b7b7;
        }
    
        label, input {
            display: block;
            margin-bottom: .25em;
        }
    }

    button {
        display: block;
        margin: 1em auto;
    }
}



