@mixin hover(
  $selector: "&",
  $focus: true,
  $focusDesktop: true,
  $focusMobile: true
) {
  @media (hover: hover) {
    #{$selector}:hover:not(:disabled) {
      @content;
    }
    @if $focusDesktop and $focus {
      #{$selector}:focus {
        @content;
      }
    }
  }
  @if $focusMobile and $focus {
    @media (hover: none) {
      #{$selector}:focus {
        @content;
      }
    }

$mobile-width: 680px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin verticalCenter() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin horizontalCenter() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin totalCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}