.playlist-parameters {

    .container {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        & > * {
            margin: 1em 0;
        }
    }

    .form-group {
        display: inline-block;
        margin: 1em;
    
        label {
            display: block;
            margin-bottom: .25em;
        }

        input {
            display: block;
        }
    }

    button {
        display: block;
        margin: 1em auto;
    }
}

.location-search {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.use-location {
    text-align: center;
    font-size: .75em;
    padding: .5em;

    span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.search-bar {
    display: flex;
    flex-wrap: nowrap;

    input[type=text] {
        border-radius: 5px 0 0 5px;
        margin-right: 0;
        border-right: none;
        flex-grow: 2;
    }

    button {
        display: inline-block;
        margin: 0;
        border-radius: 0 5px 5px 0;
        padding: .75em;
        // border: solid 1px #b7b7b7;
        color: hsl(0, 0, 50%);
    }
}

.results-list {
    position: absolute;
    background-color: #fff;
    margin-top: 0;
    max-height: 400px;
    padding: 0;
    // border: solid 1px #b7b7b7;
    border-radius: 10px;
    box-shadow: 0 4px 6px hsla(0, 0, 80, 50%);
    overflow: auto;
    width: 100%;

    li {
        padding: .75em;
        list-style-type: none;
        // border-bottom: solid 1px #b7b7b7;
        transition: all .2s ease;

        &:hover {
            background-color: #e8e8e8;
            box-shadow: inset 0 2px 2px hsla(0, 0, 0%, .1);
        }

        &:first-child {
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
        }

        &:last-child {
            border-bottom-left-radius: inherit;
            border-bottom-right-radius: inherit;
            // border-bottom: none;
        }
    }

    .show-more {
        padding: .5em;
        text-align: center;
        line-height: 1em;
        
        &:hover {
            background-color: #fff;
            box-shadow: none;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


